@import "mocha.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Cantarell", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
}

#workspaces,
#clock,
#pulseaudio,
#cpu,
#memory,
#tray {
  background: @mantle;
  margin: 3px 0px 3px 0px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 0px;
  color: @text;
}

#workspaces button.active {
  background: @blue;
  color: @crust;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 2px;
}

#workspaces button:hover {
  background: @blue;
  color: @crust;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock {
  color: @yellow;
}

#pulseaudio {
  color: @yellow;
}

#cpu {
  color: @blue;
}

#memory {
  color: @yellow;
}
